.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #F1F6F9;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  padding: auto;
}

/*grid*/
body {
  grid-template-area:
    "aside  nav    nav"
    "aside  main   main"
    "footer footer footer";
}

aside {
  grid-area;
  aside
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/*aside*/
aside {
  /*flex*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*style*/
  background-color: #394867;
  color: #ffffff;
  padding: 30px;
  width: 500px;
  border-radius: 40px;
}

aside .mainPhoto {
  width: 300px;
  height: 278px;
}

aside .contactMe {
  padding: 20px;
  background-color: #44ac95;
  border-radius: 4px;
  box-shadow: 0px -8px 0px 0px rgba(0, 0, 0, 0.50) inset;
  color: #267267;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
}

aside .asideItem {
  /*flex*/
  display: flex;
  align-items: center;
  /*style*/
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #212A3E;
  min-width: 100%;
}

aside .asideItem .imageAsideItem {
  width: 80px;
  height: 80px;
  background-color: #394867;
  border-radius: 1000px;
}

aside .asideFooter {
  background-color: #212A3E;
  width: 100%;
}

/*navbar*/
nav {
  background-color: #394867;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  padding: 20px;
  border-bottom-left-radius: 60px;
  display: flex;
  justify-content: space-around;
}

.navList {
  margin: 30px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.listItem a {
  color: #ffffff;
  text-decoration: none;
  margin: 10px;
}

nav .activeButton {
  border-bottom: #44ac95;
  color: #44ac95;
}

/*section*/
main {
  background-color: #394867;
  padding: 50px;
}

main .mainTittle {
  margin-bottom: 50px;
}

main h1 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}

main h2 {
  color: #000000;
  font-size: 42px;
  font-weight: 700;
}

main .introduction {
  font-size: 20px;
  color: #ffffff;
}

main .workStatusButton {
  background: linear-gradient(90deg, #212A3E 0%, #394867 100%);
  padding: 16px;
  border-radius: 16px;
  font-size: 20px;
  color: #ffffff;
}

main .projectsButton {
  background-color: #000000;
  color: #ffffff;
  padding: 16px;
  border-radius: 16px;
  font-size: 20px;
}

.button .verProyectos {
  color: #ffffff;
  background-color: #000000;
  padding: 16px;
  border-radius: 16px;
  font-size: 20px;
}

.button .available {
  color: #ffffff;
  background: linear-gradient(90deg, #7334C0 0%, #E63582 100%);
  padding: 16px;
  border-radius: 16px;
  font-size: 20px;
}
.buttons {margin: 20px;}

/*article*/
main .boxes {
  padding: 10px;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly; 
}

main .toolsBox {
  background-color: #212A3E;
  padding: 16px;
  border-radius: 20px;
}

main .networkandtoolList img {
  padding: 10px;
  margin: 10px;
  background-color: #394867;
  border-radius: 10px;
}

main .networksBox {
  background-color: #212A3E;
  padding: 16px;
  border-radius: 20px;
} 

main .networkandtoolList {
  list-style: none;
}

main .separator {
  display: flex;
}










.toolsBox h6 {
  font-size: 20px;
  font-weight: 500;
}

.toolsList {
  list-style: none;
  display: flex;
}

.toolsItem {
  height: 32px;
  width: 32px;
  margin: 10px;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 10px;
}



.mediaBox {
  padding: 16px;
  background-color: #ffffff;
}

.mediaBox h6 {
  font-size: 20px;
  font-weight: 500;
}


.mediaItem {
  height: 32px;
  width: 32px;
  margin: 10px;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 10px;
}