body {
    background: #323232;
    color: #fefefe;
    font-weight: 400;
    display: grid;
    grid-template-areas: 
    "header header"
    "section1 section2"
    "footer footer";
    grid-template-columns: 1fr 1fr; grid-template-rows: 100px 100% 40px;
}

/*grid*/
.header {
    display: grid;
    grid-area:header;
}
.titulosPages {
    display: grid;
    grid-area: section1;
}
.projectos {
    display: grid;
    grid-area: section2;
}
.footer {
    display: grid;
    grid-area: footer;
}
/*header*/
.header {
    display:flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #fefefe; margin-bottom: 10px;flex-wrap: nowrap;
}
.header .titulo h1 {
    font-size: 22px; font-weight: 700; margin-left: 16px;
}
a {
    text-decoration: none; color: #fefefe; list-style: none;
}
.header .nav li{
    padding: 16px; margin-right: 16px;
}
.contacto {
    background-color: #fefefe;
    border: none;
    border-radius: 12px;
}
.contacto a {
    color: #323232;
}
.header .nav li img{
    margin-right: 3px;
}
/*fin header*/
/*section titulos*/
.titulosPages { display: flex; flex-direction: column; align-items: center; justify-items: center
}
.titulosPages .article1 #cuadroBlanco {
    padding: 16px; background-color: #fefefe; color: #323232; max-width: fit-content; border-radius: 12px; margin-bottom: 20px; margin-top: 20px;
}
.titulosPages .article1 #cuadroBlanco img {
    margin-right: 10px;
}
.titulosPages .article1 h1 {
    font-size: 80px; font-weight: 700;
}
.titulosPages .article1 h3 {
    font-size: 34px; font-weight: 500;
}
/*fin titulos*/
/*items home*/
.itemsHome {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.article2{
    display: flex; flex-direction: column; align-items: center;
}
.itemsHome .article2 .fotoPorfolio { display: flex;
    width: 300px;
}
.itemsHome .article2 .fotosRedes { display: flex; justify-content: space-between; list-style: none;
}
.itemsHome .article2 .fotosRedes .bg {
    margin: 10px; padding: 16px; background-color: #fefefe; border-radius: 12px;
}
.botonHome {
    padding: 12px; border-radius: 12px;
}
.botonHome a {
    color: #323232;
}
/*fin items home*/
/*footer*/
.footer {
    background: #fefefe 
}
.footer a {
    color: #323232;
}
/*fin footer*/
