* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
body {
    background: #323232;
    color: #fefefe;
    margin: 16px;
    font-weight: 400;
}

/*header*/
.headerHome {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fefefe;
    height: 85px;
    margin: 14px 16px;
    align-items: center;
}

.headerHome .titulo h1 {
    font-size: 22px;
    font-weight: 700;
}


.headerHome .itemsNav li {
    display: inline-block;
    padding: 14px 16px;
}

.headerHome .itemsNav li img {
    padding-right: 16px;
}

a {
    text-decoration: none;
    color: #fefefe;
    list-style: none;
}

.contacto {
    background-color: #fefefe;
    color: #323232;
    border: none;
    border-radius: 12px;
}

.contacto a {
    color: #323232;
}

/*section*/
.sectionHome {
    display: flex;
    height: 1fr;
    width: 1fr;
    margin: 0px 16px;
}
.sectionHome .article1 {
    margin: 10px; margin-right: 100px;
}
.sectionHome .article2 {
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    max-width: fit-content;
    padding: 0px 30px;
}

.sectionHome .article1 h1 {
    font-size: 80px;
    font-weight: 700;
}

.sectionHome .article1 p {
    font-size: 34px;
}

.sectionHome .article1 .bgp {
    color: #323232;
    background-color: #fefefe;
    border-radius: 12px;
    padding: 14px 16px;
    margin: 14px 16px;
    font-size: 20px;
    max-width: fit-content;
    align-items: center;
}

.sectionHome .article1 .bgp img {
    padding-right: 16px;
}
.sectionHome .article2 .fotoPorfolio {
    padding-bottom: 10px;
}
.sectionHome .article2 .itemsArt li {
    display: inline-block;
    margin-right: 10px;
    padding: 14px 14px;
    background-color: #fefefe; border-radius: 12px;
    text-align: center;
}
.sectionHome .article2 .itemsArt {
    max-width: fit-content; padding-bottom: 10px;
}
/*boton*/
.sectionHome button { max-width: fit-content; max-height: 30px; background-color: none; border: 10px solid #fefefe; border-radius: 10px; 
padding: 10px 10px;
}
.sectionHome div button {
    max-height: fit-content;
}
.sectionHome button a {
    color: #323232; font-size: 14px;
    text-align: center;
}
/*footer*/
#footer {
    background: #fefefe; color: #323232;
    margin: 10px;
}
#footer a {
    color: #323232;
}
/*pagina projectos*/
#Projectos {
    display: flex; flex-direction: row;
}
.tittle {
    font-size: 80px; font-weight: 700; text-align: center; padding-top: 100px; justify-content: center;
}
.cardsProjectos {
    display: flex; flex-direction: row;
    justify-content: center; margin-left: 50px;
}
.cardsProjectos img {
    width: 380px;
}
.primerRow {
    margin: 10px 10px;
}
.segundoRow {
    margin: 10px 10px;
}