main {
    .aboutMe {
        .mainTittle {
            margin-bottom: 50px;

            h1 {
                color: #F1F6F9;
                font-size: 50px;
                font-weight: 700;
            }
        }
    }

    .hobbieList {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        width: 485px;
        background-color: $main-background;
        padding: 16px;
        color: #F1F6F9;
        margin: 10px;
        border-radius: 20px;

    }

    h3 {
        font-size: 26px;
    }

    h6 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    main {
        .aboutMe {
            h1 {
                font-size: 20px;
                font-weight: 700;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                margin-top: 10px;
            }

            h3 {
                font-size: 20px;
                font-weight: 500;
                margin-top: 20px;
            }

            .hobbieList {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                .card {
                    width: 100%;

                    h6 {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}