main {
    .contact {
        margin-bottom: 50px;

        h1 {
            color: #F1F6F9;
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;

            div {
                padding: 6px;
                border: solid 1px #F1F6F9;
                border-radius: 10px;
                margin: 10px;
                width: 100%;
                display: flex;
                align-items: stretch;
            }
        }

        .wrap {
            display: flex;
        }
    }

    .submit {
        background: linear-gradient(90deg, #212A3E 0%, #394867 100%);
        padding: 16px;
        border-radius: 16px;
        font-size: 20px;
        color: #ffffff;
    }
}

@media (max-width: 480px) {
    main {
        .contact {
            h1 {
                font-size: 20px;
                font-weight: 700;
            }

            p {
                width: 100%;
                font-size: 12px;
            }

            .wrap {
                display: flex;
                flex-direction: column;
            }

            form {
                div {
                    width: 90%;
                    margin: 3px;
                    padding: 6px;
                }
            }

            .submit {
                font-size: 12px;
                border-radius: 8px;
            }

        }
    }
}