main {
    section {
        h1 {
            color: #F1F6F9;
            font-size: 50px;
            font-weight: 700;
        }

        h2 {
            color: #FFFFFF;
            font-size: 42px;
            font-weight: 700;
        }
    }

    //botones
    .workStatusButton {
        background: linear-gradient(90deg, #212A3E 0%, #394867 100%);
        padding: 16px;
        border-radius: 16px;
        font-size: 20px;
        color: #ffffff;
        max-height: max-content;
    }

    .projectsButton {
        background-color: #000000;
        color: #ffffff;
        padding: 16px;
        border-radius: 16px;
        font-size: 20px;
    }

    .profile {
        display: flex;
        align-items: center;
        margin-top: 40px;


        .text {
            display: flex;
            flex-direction: column;
        }

        p {
            max-width: 70%;
            margin-bottom: 30px;
            font-size: 20px;
        }
    }

    h4 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    h6 {
        font-size: 12px;
        font-weight: 500;
    }


}

@media (max-width: 480px) {
    main {
        .home {
            h1 {
                font-size: 20px;
            }

            h2 {
                font-size: 20px;
            }

            .caveat-text {
                font-size: 20px;
            }
        }

        //botones
        .workStatusButton {
            padding: 10px;
            border-radius: 6px;
            font-size: 12px;
        }


        .projectsButton {
            padding: 10px;
            border-radius: 6px;
            font-size: 12px;
        }

        button:hover {
            transform: scale(1.1);
            transition: all 1s;
        }

        .profile {
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: 20px;

            .text p {
                font-size: 14px;
                max-width: 100%;
                margin-bottom: 10px;
                font-weight: 400;
            }

            h4 {
                font-size: 16px;
                font-weight: 700;
            }

            h6 {
                font-size: 16px;
                font-weight: 400;
            }

            .lists span {
                font-size: 12px;
            }
        }
    }
}

.lists {
    display: flex;
}

.webDevelopment {
    margin: 20px;
    list-style: none;
}

.artDesing {
    margin: 20px;
    list-style: none;
}

.more {
    margin: 20px;
}

.itemListHome {
    margin: 10px;
    display: flex;
    align-items: center;

    img {
        width: 20px;
        height: 20px;
        padding: 5px;
    }
}






.boxes {
    padding: 10px;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
}

.toolsBox {
    background-color: #212A3E;
    padding: 16px;
    border-radius: 20px;
}

.networkandtoolList {
    list-style: none;


    img {
        padding: 10px;
        margin: 10px;
        background-color: #394867;
        border-radius: 10px;
    }


}

.networksBox {
    background-color: #212A3E;
    padding: 16px;
    border-radius: 20px;
}

.separator {
    display: flex;
}



.workStatusButton {
    background: linear-gradient(90deg, #212A3E 0%, #394867 100%);
    padding: 16px;
    border-radius: 16px;
    font-size: 20px;
    color: #ffffff;
}