main {
    section {
        .mainTittle {
            margin-bottom: 50px;

            h1 {
                color: #F1F6F9;
                font-size: 50px;
                font-weight: 700;
            }
        }
    }

    .filterList {
        display: flex;
        list-style: none;
        flex-direction: row;
        background-color: #212A3E;
        max-width: fit-content;
        border-radius: 10px;
        margin-bottom: 30px;
        margin-top: 10px;

        .filterItem {
            margin: 10px;
        }

        .filterItemActive {
            margin: 10px;
            color: #267267;
        }
    }

    .projectList {
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;

        .projectItem {
            margin: 10px;

            img {
                width: 400px;
                height: 300px;
            }
        }
    }
}

@media (max-width: 480px) {
    main {
        .project {
            h1 {
                font-size: 20px;
                font-weight: 700;
            }

            .filterList {
                .filterItem {
                    font-size: 12px;
                    font-weight: 400;
                }

                .filterItemActive {
                    font-size: 12px;
                    font-weight: 400;
                }
            }

            .projectList {
                display: flex;
                justify-content: center;
                align-items: center;

                .projectItem {
                    margin: 5px;

                    img {
                        width: 300px;
                        height: 250px;
                    }

                    p {
                        font-size: 10px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}