@media (max-width: 480px) {
    body {
        margin: 0px;
        grid-template-areas:
            "aside"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 50px;
        width: 100vw;
        height: 100vh;
        max-width: 100%;
        overflow-x: hidden;
    }
}